#overskrift {
    font-size: 4vw;
    margin: 100px 10% 80px 10%;
}

#input-felt {
    height: 20px;
    width: 25%;
    margin: 50px 37.5%;
    padding: 5px 0;
    text-align: center;
    font-size: 20px;
    box-shadow: 5px 5px 10px #999;
}

.knapp {
    width: 12%;
    margin: 10px 29%;
    padding: 6px 2%;
    font-size: 18px;
    border: none;
    background-color: rgb(140, 140, 140);
    box-shadow: 5px 5px 10px #999;
    cursor: pointer;
    outline: none;
}
.knapp#k1{margin-right: 8%;}
.knapp#k2{margin-left: 8%;}
.knapp:active{background-color: rgb(120, 120, 120);
}

#svar {
    height: auto;
    min-height: 40px;
    width: 70%;
    margin: 50px 10%;
    margin-bottom: 300px;
    padding: 15px 5%;
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: rgb(80, 80, 80);
    box-shadow: 5px 5px 10px #999;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;
}


/*______________responsiv css start______________*/
@media only screen and (max-width:1370px) {
    #overskrift {font-size: 50px;}
}

@media only screen and (max-width:900px) {
    #input-felt{width: 30%; margin: 50px 35%; }
    .knapp{width: 16%; margin: 10px 25%;}
}
@media only screen and (max-width:620px) {
    #overskrift {font-size: 40px; margin: 100px 10% 60px 10%;}
    #svar{min-height: 30px; font-size: 24px;}
}
@media only screen and (max-width:500px) {
    #input-felt{width: 100%; margin: 40px 0; margin-top: 80px; height: 25px;}
    .knapp{width: 40%; margin: 30px 3%; padding: 14px 2%; font-size: 20px;}
    .knapp#k1{margin-right: 3%;}
    .knapp#k2{margin-left: 3%;}
    #svar{width: 90%; margin: 50px 0; margin-bottom: 300px;}
}
