.lay-out {
    margin: 90px 20% 50px 20%;
    background-color: white;
    width: 60%;
    height: 1200px;
}

/*-------------------responsiv css start-------------------*/
@media only screen and (max-width:620px) {
    .lay-out {
        margin: 90px 5% 50px 5%;
        width: 90%;
        background-color: white;
    }
}
