.lay-out {
    width: 60%;
    margin: 90px 20% 50px 20%;
    height: 1200px;
    background-color: white;
}

/*-------------------responsiv css start-------------------*/
@media only screen and (max-width:620px) {
    .lay-out {
        width: 90%;
        margin: 90px 5% 50px 5%;
        background-color: white;
    }
}
