#overskrift {
    font-size: 4vw;
    margin: 100px 10% 80px 10%;
}

#om-meg-boks {
    width: 70%;
    margin: 20px 15% 50px 15%;
    height: 1300px;
    border: 0.1px solid black;
    box-shadow: 7px 5px 25px black;
    float: left;
    background-color: #51caf2;
}

#om-meg-boks2 {
    width: 94%;
    height: 94%;
    margin: 3%;
    box-shadow: 1px 1px 5px black;
    background-color: white;
    border: 1px solid black;
}

#om-meg-overskrift {
    width: 50%;
    margin: 50px 25%;
    font-family: exo, arial;
    font-size: 35px;
    text-align: center;
}

#mitt-bilde {
    width: 40%;
    margin: 40px 5%;
    box-shadow: 1px 1px 5px black;
    border: 1px solid black;
    float: left;
}

#om-meg-tekst {
    width: 46%;
    margin: 40px 3% 40px 0;
    font-family: exo, arial;
    font-size: 20px;
    float: left;
}
#om-meg-tekst span::before {
    content: "";
    padding-left: 15px;
}

#om-meg-tekst h3 {
    margin: 30px 20px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid rgba(0,0,0,.2);
}


#om-meg-tekst h3 ul {
    list-style-type: circle;
}

#om-meg-tekst h3 ul li {
    font-size: 18px;
    padding: 6px;
}


.ulnr2 li {padding: 10px !important;}
.gråbar {
    margin: 10px;
    background-color: #ececec;
    width: 100%;
    text-align: center;
    border: 2px solid rgba(40, 40, 40, 0.7);
    border-radius: 10px;
    color: white;
}


.htmlbar {
    background-color: #525eff;
    width: 90%;
    text-align: center;
    border-radius: 8px;
}

.cssbar {
    background-color: #ffc81f;
    width: 100%;
    text-align: center;
    border-radius: 8px;
}

.pybar {
    background-color: #ff37ce;
    width: 80%;
    text-align: center;
    border-radius: 8px;
}

.jsbar {
    background-color: #ff2626;
    width: 80%;
    text-align: center;
    border-radius: 8px;
}


/*-------------------responsiv css start-------------------*/
@media only screen and (max-width:1370px) {
    #overskrift {font-size: 50px;}
}

@media only screen and (max-width:1000px) {
    #om-meg-boks {
        width: 90%;
        margin: 30px 5% 50px 5%;
        height: 1500px;
    }
}

@media only screen and (max-width:700px) {
    #om-meg-boks {
        width: 95%;
        margin: 20px 2.5% 50px 2.5%;
        height: 2000px;
    }
    #om-meg-boks2 {
        width: 96%;
        height: 96%;
        margin: 2%;
        border: .5px solid black;
    }

    #mitt-bilde {
        width: 80%;
        margin: 40px 10%;
    }
    #om-meg-tekst {
        width: 90%;
        margin: 40px 5%;
        font-family: exo, arial;
        font-size: 20px;
        float: left;
    }
}
@media only screen and (max-width:400px) {
    .ulnr2 {padding-left: 0;}
    .ulnr2 li {padding-left: 0 !important;}
    #om-meg-boks {height: 1700px;}
}
