html {

background-color: #c9c9c9;
background-repeat: repeat;

}

#kultus {

font-size: 90px;
font-family: Arial black;
color: #51caf2;
text-align: center;
width: 40%;
margin: 30px 30% 80px 30%;
border: 0px solid black;
text-outline: 2px 2px solid black;
text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}


#bilde {

width: 70%;
border: 2px solid black;
position: relative;
margin-rigth: 15%;
margin-left: 15%;
margin-bottom: 700px;
box-shadow: 12px 22px 35px black ;
}















div.navi {

width: 100%;
background-color: black;
background-color: #c9c9c9;
position: static;
}


/* baren der alt ligger */
#naviul {

list-style-type: none;
overflow: hidden;
background-color: #444444;
padding: 00px;
margin: -8px;
}
 

/* hvert enkelt page*/
#navia {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial;
  float: left;
}


/* hvert enkelt page når pusepekeren er over den */
#navia:hover {
background-color: #60f900;
color: #424242;
}



/* hvordan den aktive siden du er på ser ut*/

#navia.active {
  background-color: #07ab1a;
  color: white;
}


/* hvordan den aktive siden du er på ser ut når du har musepekeren på den*/
#navia:hover.active {
 background-color: #297c33;
 color: white;
}
