html {

background-color: #c9c9c9;
background-repeat: repeat;


}

#kultus {
font-size: 90px;
font-family: Arial black;
color: #51caf2;
text-align: center;
margin: 0px 0% 80px 30%;
padding: 50px 0% 0% 0%;
width: 40%;
float: left;
z-index: -1;
text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}


img.antall-besøkende {
 position:relative
 overflow: visible;
 text-align: center;
 margin: 20px 0% 30px 10.5%;
 box-shadow: 3px 3px 30px black ;
 float: rigth;
 width: 8%;
float: left;
z-index: -1;
}


p.antall-besøkende {

text-align: center;
margin: 80px 0% 0px 6%;
order: 2px solid black;
font-size: 30px;
padding: 0px;
font-family: exo, arial;
width: 18%;
float: left;
z-index: -1;
}





#bilde {
z-index: -1;
width: 60%;
border: 2px solid black;
position: relative;
margin-rigth: 20%;
margin-left: 20%;
margin-bottom: 1000px;
box-shadow: 12px 22px 35px black ;
}









div.navi {
z-index: 1;
width: 100%;
margin-bottom: 30px;
}
/* baren der alt ligger */
#naviul {
list-style-type: none;
overflow: hidden;
background-color: #444444;
padding: 0px;
margin: 0px;
position: fixed;
top: 0;
right: 0;
width: 100%;
}
/* hvert enkelt page*/
#navia {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial;
  float: left;
}
/* hvert enkelt page når pusepekeren er over den */
#navia:hover {
background-color: #60f900;
color: #424242;
}
/* hvordan den aktive siden du er på ser ut*/
#navia.active {
  background-color: #07ab1a;
  color: white;
}
/* hvordan den aktive siden du er på ser ut når du har musepekeren på den*/
#navia:hover.active {
 background-color: #297c33;
 color: white;
}
