html {

background-color: #c9c9c9;
background-repeat: repeat;
height: 1300px;
width: 100%;
}

#kultus-logo {
z-index: 100;
position: fixed;
text-decoration: none;
top: 2px;
font-size: 50px;
font-family: bangers;
letter-spacing: 3px;
color: #51caf2;
text-align: center;
width: 8%;
margin: 0px 46% 0px 46%;
text-shadow: 0px 0px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    0px 0px 0 #000,
    -0px 1px 0 #000,
    0px -1px 0 #000,
    -0px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.lay-out {
margin: 90px 20% 400px 20%;
background-color: white;
width: 60%;
height: 1000px;
}





/*--------------------------------------------menu bar start-------------------------------------*/

div.navi {
z-index: 1;
width: 100%;
margin-bottom: 30px;
}

/* baren der alt ligger */
#naviul {
list-style-type: none;
overflow: hidden;
background-color: #444444;
padding: 0px;
margin: 0px;
position: fixed;
top: 0;
right: 0;
width: 100%;
box-shadow: 0 1px 2px rgba(0,0,0,.5);
background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.2));
}
/* hvert enkelt page*/
#navia {
display: block;
color: white;
text-align: center;
padding: 15px;
text-decoration: none;
font-size: 20px;
font-family: Arial;
float: left;
}
/* hvert enkelt page når pusepekeren er over den */
#navia:hover {
background-color: #60f900;
color: #424242;
}
/* hvordan den aktive siden du er på ser ut*/
#navia.active {
background-color: #07ab1a;
color: white;
}
/* hvordan den aktive siden du er på ser ut når du har musepekeren på den*/
#navia:hover.active {
background-color: #297c33;
color: white;
}
.menu-button-mobile, #navia.A {
display: none;
}

/*-------------------------------------------menu bar end-----------------------------------------*/



/* 620  */
@media only screen and (max-width:720px) {


#kultus-logo {  
margin-left: 30%;
margin-right: 30%;
width: 150px;
margin-top: 8px;
font-size: 60px;
height: 70px;
top: 0;
text-align: center;
}

.lay-out {
margin: 0px 50% 100px 50%; /* 5 ikke 50 */
width: 1%; /* 90 */
background-color: white;
} 

.primary-nav {
width: 100%;
float: none;
background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.2));
display: block;
height: 80px;
overflow: hidden;
position: absolute;
z-index: 98; /************************/
clear: both;
margin-bottom: 0px;
}


.primary-nav li {
display: none;
width: 100%;
font-family: Bangers;
float: none !important;
}


.primary-nav li a:hover {
background-color: rgba(0,0,0,.5);
border-top-color: transparent;
font-family: Bangers;
}

.primary-nav > li:first-child {
border-top: 1px solid rgba(0,0,0,.2);
font-family: Bangers;
}

.primary-nav.open {
height: auto;
}


.primary-nav.open li {
display: block;
}




#navia {
display: block;
width: 88%;
font-size: 23px; 
font-wight: bold;
text-shadow: -1px -1px 0 rgba(0,0,0,.15);
color: white;
text-decoration: none;
border-bottom: 1px solid rgba(0,0,0,.2);
border-top: 1px solid rgba(255,255,255,.1);
margin-left: 2%;
margin-rigth: 12%;
}
#navia.A, #navia.a:hover {
display: block;
text-indent: -9999px;
border-top: 0px;
background-color: transparent;
}

.menu-button-mobile {
display: block;
color: white;
text-align: center;
padding: 30px;
margin-bottom: 20px;
text-decoration: none;
font-size: 20px;
background: url('../bilder/menu-icon-large.png'), linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.2));
background-position: center center;
background-repeat: no-repeat;
background-size: 36px, 100%;
border-radius: 30px;
text-indent: -9999px;
border-radius: 2px;
cursor: pointer;
width: 80px;
border: 0 none;
animation-name: snu-menu;
animation-duration: 1s;
}

@keyframes snu-menu{
0% {/* transform: rotateY(90deg); */ background-size: 0px;     }
100% { /* transform: rotateY(0deg); */  background-size: 36px;   }
}

.menu-button-mobile:hover {
background-color: rgba(0,0,0,.1);
}

.menu-button-mobile.open {
background: url('../bilder/close-icon-large.png'), linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.0));
background-position: center center;
background-repeat: no-repeat;
background-size: 40px, 100%;
animation-name: snu;
animation-duration: 1s;
}

@keyframes snu{
0% {/* transform: rotateY(90deg); */ background-size: 0px;     }
100% { /* transform: rotateY(0deg); */  background-size: 40px;   }
}

.menu-button-mobile.open:hover {
background-color: rgba(0,0,0,.2);
}


}
