.lay-out {
    float: left;
    width: 60%;
    margin: 90px 20% 50px 20%;
    min-height: 1200px;
    height: auto;
    background-color: white;
}

.tittel {
    float: left;
    width: 60%;
    margin: 60px 20% 40px 20%;
    font-size: 32px;
    text-align: center;
}

.bilde {
    float: left;
    width: 80%;
    margin: 5px 10% 10px 10%;
    border-radius: 5px;
    border: 5px solid black;
}

.nyhet-dato {
    float: left;
    width: 20%;
    text-align: left;
    margin: 5px 10% 30px 10%;
    padding-left: 1%;
    padding-right: 5%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image:
      linear-gradient(to right, black, white)5%;
}

.hovedinnhold {
    float: left;
    width: 80%;
    min-height: 400px;
    height: auto;
    margin: 50px 10% 40px 10%;
    /*border: 1px solid black;  for testing */
}

.nyhet-innledning {
    float: left;
    width: 100%;
    margin: 10px 0 60px 0;
    font-size: 20px;
    line-height: 24px;
}

.nyhet-hovedtekst {
    float: left;
    width: 100%;
    margin: 10px 0 30px 0;
    font-size: 18px;
    line-height: 24px;
}

.bilde-artikkel {
    float: left;
    width: 100%;
    margin: 30px 0;
    border: 1px solid black;
}



/*#########################################################*/
*.not(.footer) {box-sizing: border-box;}

.img-comp-container {
  float: left;
  position: relative;
  height: 200px;
  margin: 1px;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}

.img-comp-img img {
  display:block;
  vertical-align:middle;
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 5px;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  border-radius: 1%;
}

.text-pa-bilde{
    position: absolute;
    left: 70%;
    top: 180px;
    font-size: 16px;
    font-weight: 600;
    width:200px;
}

/*#########################################################*/



/*-------------------responsiv css start-------------------*/
@media only screen and (max-width:620px) {
    .lay-out {
        width: 90%;
        margin: 90px 5% 50px 5%;
        background-color: white;
    }
}
