.lay-out {
    float: left;
    width: 60%;
    margin: 90px 20% 50px 20%;
    height: 1200px;
    background-color: white;
}

.tittel {
    float: left;
    width: 60%;
    margin: 60px 20% 80px 20%;
    font-size: 32px;
    text-align: center;
}




/*-------------------responsiv css start-------------------*/
@media only screen and (max-width:620px) {
    .lay-out {
        width: 90%;
        margin: 90px 5% 50px 5%;
        background-color: white;
    }
}
